
    
    <%= stylesheet_link_tag "css/compiled/index.css" %>
    <!-- Styles -->
    
   
 <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

 
<!-- 
    <section id="feature_slider" class="lol">
 -->        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <!-- <article class="slide" id="showcasing" style="background: url(<%= asset_path 'img/backgrounds/landscape.png' %>) repeat-x top center;">
            <%= image_tag "img/slides/scene1/macbook.png",class: "asset left-30 sp600 t120 z1" %>
            <div class="info">
                <h2>Beautiful theme for showcasing your works.</h2>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url(<%= asset_path 'img/backgrounds/aqua.jpg' %>) repeat-x top center;">
            <div class="info">
                <h2>We love to turn ideas into beautiful things.</h2>
            </div>
            <%= image_tag "img/slides/scene2/left.png",class: "asset left-30 sp600 t120 z1" %>
            <%= image_tag "img/slides/scene2/middle.png",class: "asset left-210 sp600 t213 z2" %>
            <%= image_tag "img/slides/scene2/right.png",class: "asset left60 sp600 t260 z1" %>
        </article>
        <article class="slide" id="tour" style="background: url(<%= asset_path 'img/backgrounds/color-splash.jpg' %>) repeat-x top center;">
            <%= image_tag "img/slides/scene3/ipad.png",class: "asset left-472 sp650 t210 z3" %>
            <%= image_tag "img/slides/scene3/iphone.png",class: "asset left-365 sp600 t270 z4" %>
            <%= image_tag "img/slides/scene3/desktop.png",class: "asset left-350 sp450 t135 z2" %>
            <%= image_tag "img/slides/scene3/macbook.png",class: "asset left-185 sp550 t220 z1" %>
            <div class="info">
                <h2>Fully Responsive theme</h2>
                <a href="features.html">TOUR THE PRODUCT</a>
            </div>
        </article>  
    </section>
 -->


    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>Our Services</h3>
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="col-sm-4 feature first">
                        <div class="img_box">
                            <a href="services.html">
                                <%= image_tag "img/service1.png" %>
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Student Focus</h6>
                            <p>
                                All landlords who post here have agreed to rent to students, and probably have rented to studnets in the past. No more searching through pages of places to find one who will rent to college kids. 
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature">
                        <div class="img_box">
                            <a href="services.html">
                                <%= image_tag "img/service2.png" %>
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Direct Contact</h6>
                            <p>
                                We will put you in direct contact with a local landlord allowing you to rent the apartment swiftly
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature last">
                        <div class="img_box">
                            <a href="services.html">
                                <%= image_tag "img/service3.png" %>
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Free</h6>
                            <p>
                              WUapartments was created by a WUSTL student for WUSTL students and is completely free for both studnets and landlords. No fees to pay after you find your apartment and no advertisments!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Features</h3>
            </div> 
            <div class="row feature">
                <div class="col-sm-6">
                    <%= image_tag "img/showcase1.png", class: "img-responsive" %>
                    
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <%= image_tag "img/features-ico1.png" %>
                        Beautiful on all devices
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <%= image_tag "img/showcase2.png", class: " pull-right img-responsive" %>
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <%= image_tag "img/features-ico2.png" %>
                        Blog page included
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <%= image_tag "img/showcase3.png", class: "img-responsive" %>
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <%= image_tag "img/features-ico3.png" %>
                        Simple and clean coming soon page
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                <h3>Pricing</h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Lite</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">35</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="pricing.html">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <%= image_tag "img/badge.png", class: "ribbon" %>
                            
                            <h3>Pro</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">99</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>25</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                     Storage
                                </p>
                                <p>
                                    <strong>Plus </strong>
                                    Phone Support
                                </p>
                            </div>
                            <a class="order" href="pricing.html">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Standard</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">65</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="pricing.html">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>Start your free, no-risk, 14 day trial! </p>
                <a href="pricing.html">Start Now!</a>
            </div>
        </div>
    </div>

    <div id="clients">
        <div class="container">
            <div class="section_header">
                <h3>Clients</h3>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
            </div>
        </div>
    </div>
    





    <!-- Scripts -->

<%= javascript_include_tag "js/index-slider.js" %>   
